.cean-ds-general-info {
    display: grid;
    /* Six-column grid to lign up labels and inputs. */
    grid-template-columns:
        max-content 2fr
        max-content 1fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;

    background-color: var(--jp-layout-color1);
    margin: 0.3rem;

    & > *:nth-child(2n) {
        /* Ensure input columns can shrink and inputs don't overflow */
        min-width: 0;
    }

    & input,
    & select,
    & textarea {
        width: 100%;
        box-sizing: border-box;
    }

    & > .cean-span-3 {
        grid-column: span 3;
    }
}

.cean-run-row {
    display: grid;
    grid-template-columns:
        1fr
        max-content max-content
        max-content max-content;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;

    & > *:nth-child(2n+1) {
        /* Ensure input columns can shrink and inputs don't overflow */
        min-width: 0;
    }
}

.cean-ds-owner-columns {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;
}

.cean-ds-human-owners,
.cean-ds-technical-owners {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;

    background-color: var(--jp-layout-color1);
    margin: 0.3rem;

    & > *:nth-child(2n) {
        /* Ensure input columns can shrink and inputs don't overflow */
        min-width: 0;
    }

    & input,
    & select,
    & textarea {
        width: 100%;
        box-sizing: border-box;
    }

    & input[type="checkbox"] {
        width: auto;
        justify-self: start;
    }
}

.cean-single-owner {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;
}

.cean-ds-misc-columns {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;
}

.cean-ds-misc-left, .cean-ds-misc-right {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;

    background-color: var(--jp-layout-color1);
    margin: 0.3rem;
}

.cean-ds-scientific-metadata {
    background-color: var(--jp-layout-color1);
    margin: 0.3rem;
}

table.cean-scientific-metadata-table {
    width: 100%;
    border-collapse: collapse;

    & th:last-child,
    & td:last-child {
        width: 1%;
        white-space: nowrap;
        border: none;
        padding: 0;
    }

    & td {
        border: 1px solid var(--jp-border-color1);
    }

    & input {
        width: 100%;
        border: none !important;
        background: unset !important;
    }

    & button {
        margin: 0 0 0 1rem;
    }
}

.cean-person-widget {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;
}

.cean-same-as-container {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    column-gap: 5px;
    align-items: start;
}

.cean-ds textarea {
    resize: vertical;
}

.cean-ds input, .cean-ds textarea, .cean-files-widget input {
    box-sizing: border-box;
    border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
    color: var(--jp-content-font-color1);
    background-color: var(--jp-input-background);

    &:focus-visible {
        outline: none;
    }

    &:focus {
        border-color: var(--jp-input-active-border-color);
        background-color: var(--jp-input-active-background);
    }

    &::selection {
        background-color: var(--jp-editor-selected-focused-background);
    }

    &:hover:not(:disabled) {
        border-color: var(--jp-input-active-border-color);
    }
}

.cean-datetime-input {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 0;
    row-gap: 10px;
    align-items: start;
}

.cean-tabs {
    margin-bottom: 10px;
}

.cean-tab-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--jp-border-color1);
}

.cean-tab-buttons-left {
    padding: 0 1em 0 1em;

    & svg {
        height: 1.8rem;
        width: auto;
        transform: translateY(0.4em);
    }
}

.cean-tab-buttons-middle {
    display: flex;
}

.cean-tab-buttons-right {
    display: flex;
    align-items: center;
    padding-right: 16px;
    margin-left: auto;

    & a:hover {
        text-decoration: underline;
    }
}

.cean-tab-button {
    background: none;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    color: var(--jp-ui-font-color2);
    border-bottom: 2px solid transparent;
}

.cean-tab-button:hover {
    background-color: var(--jp-layout-color2);
}

.cean-tab-button-active {
    border-bottom: 2px solid var(--jp-brand-color1);
    color: var(--jp-ui-font-color1);
    font-weight: bold;
}

.cean-tab-content {
    padding: 10px 0;
}

.cean-upload-button {
    background: var(--jp-info-color1);
    color: var(--jp-ui-inverse-font-color1);

    &:hover {
        background: var(--jp-info-color2);
        box-shadow: none !important;
    }
}

.cean-modal-dialog {
    border: none;
    padding: 0;
    background: transparent;
    border-radius: var(--jp-border-radius);
    box-shadow: var(--jp-elevation-z8);

    &::backdrop {
        backdrop-filter: brightness(80%);
    }

    & a {
        color: var(--jp-content-link-color);
    }

    & a:hover {
        color: var(--jp-content-link-color);
        text-decoration: underline;
    }
}

.cean-modal-content {
    background-color: var(--jp-layout-color1);
    padding: 20px;
    max-width: 400px;
    width: max-content;
    color: var(--jp-ui-font-color1);
}

.cean-modal-header {
    margin-bottom: 15px;
    font-size: var(--jp-ui-font-size3);
    font-weight: 400;
    color: var(--jp-ui-font-color1);
}

.cean-modal-body {
    margin-bottom: 20px;
}

.cean-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cean-warning {
    color: var(--jp-warn-color1);
}

.cean-button {
    background: var(--jp-input-background);
    color: var(--jp-ui-font-color1);
    border-radius: var(--jp-border-radius);
    border: none;
    cursor: pointer;

    &:hover {
        background: var(--jp-input-hover-background);
        color: var(--jp-ui-font-color0);
    }
}

.cean-button[disabled="true"] {
    background: var(--jp-input-background);
    color: var(--jp-ui-font-color2);
    cursor: unset;
}

.cean-combox-dropdown {
    position: relative;
}

.cean-combox-search,
.cean-combox-display {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
    color: var(--jp-content-font-color1);
    background: var(--jp-input-background);
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    min-height: 1.5rem;

    &:focus-visible {
        outline: none;
    }

    &:focus {
        border-color: var(--jp-input-active-border-color);
    }

    &::selection {
        background-color: var(--jp-editor-selected-focused-background);
    }
}

.cean-combox-display {
    cursor: text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cean-combox-arrow {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
    color: var(--jp-ui-font-color2);
    font-size: 0.8rem;
}

.cean-combox-list {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    border: var(--jp-border-width) solid var(--jp-input-border-color);
    border-top: none;
    background-color: var(--jp-notebook-select-background);
    padding: 0 0.5rem 0 0.5rem;

    max-height: 16rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cean-combox-item {
    cursor: pointer;
    user-select: none;
    padding: 0.1rem;

    &:hover {
        background-color: var(--jp-editor-selected-background);
    }
}

.cean-combox-selected {
    background-color: var(--jp-layout-color2);
    font-weight: bold;
}

.cean-item-id {
    color: var(--jp-content-font-color3);
    font-family: monospace;
}

.cean-files-widget {
    & input {
        width: 100%;
        box-sizing: border-box;
    }
}

.cean-file-input[data-error="true"] {
    border-color: var(--jp-error-color2) !important;
}

.cean-file-input[data-error="true"] + .cean-file-stats {
    color: var(--jp-error-color2);
}

.cean-single-file-widget {
    grid-template-columns: 1fr max-content;

    & button.cean-remove-item[disabled="true"] {
        visibility: hidden;
    }
}

.cean-file-stats {
    /* make sure this element always has the same height */
    min-height: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* TODO use throughout */
.cean-input-grid {
    display: grid;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;
}

select.cean-chk-alg {
    /* this dropdown looks strange when it is the full width of the parent */
    width: 10em !important;
}

select.cean-dropdown {
    background: var(--jp-input-background);
    border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
}

.cean-string-list-widget {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cean-string-list-input-row {
    display: grid;
    column-gap: 8px;
    grid-template-columns:
        1fr max-content;
}

.cean-string-list-items {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.cean-string-list-item {
    display: flex;
    align-items: center;
    background: var(--jp-layout-color2);
    padding: 2px 8px;
    gap: 4px;
    border: var(--jp-border-width) solid var(--jp-layout-color3);
    border-radius: var(--jp-border-radius);
}

.cean-string-list-item span {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cean-string-list-item .cean-button {
    padding: 0;
    background: none;
    min-height: unset;
    font-size: 0.8em;
}

.cean-string-list-item .cean-button:hover {
    color: var(--jp-error-color1);
}

.cean-techniques-widget {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cean-techniques-items {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cean-techniques-item {
    display: flex;
    background: var(--jp-layout-color2);
    padding: 2px 8px;
    border: var(--jp-border-width) solid var(--jp-layout-color3);
    border-radius: var(--jp-border-radius);
}

.cean-techniques-item-content {
    flex-grow: 1;
}

.cean-techniques-item .cean-button {
    padding: 0;
    background: none;
    min-height: unset;
    font-size: 0.8em;
}

.cean-techniques-item .cean-button:hover {
    color: var(--jp-error-color1);
}

.cean-techniques-selected-item {
    display: flex;
    flex-direction: column;

    & .cean-item-id {
        color: var(--jp-content-link-color);
        font-family: unset;
    }

    & .cean-item-id:hover {
        color: var(--jp-content-link-color);
        text-decoration: underline;
    }
}
