.cean-ds-general-info {
    display: grid;
    /* Six-column grid to lign up labels and inputs. */
    grid-template-columns:
        max-content 1fr
        max-content 1fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;

    & > *:nth-child(2n) {
        /* Ensure input columns can shrink and inputs don't overflow */
        min-width: 0;
    }

    & input,
    & select,
    & textarea {
        width: 100%;
        box-sizing: border-box;
    }

    & > .cean-span-3 {
        grid-column: span 3;
    }
}

.cean-run-row {
    display: grid;
    grid-template-columns:
        1fr
        max-content max-content
        max-content max-content;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;

    & > *:nth-child(2n+1) {
        /* Ensure input columns can shrink and inputs don't overflow */
        min-width: 0;
    }
}

.cean-ds-owner-columns {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;
}

.cean-ds-human-owners,
.cean-ds-technical-owners {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;

    & > *:nth-child(2n) {
        /* Ensure input columns can shrink and inputs don't overflow */
        min-width: 0;
    }
}

.cean-single-owner {
    margin: 0.3em 0;
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;
}

.cean-ds-misc-columns {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;
}

.cean-ds-misc-left, .cean-ds-misc-right {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;

    & input {
        width: 100%;
        box-sizing: border-box;
    }
}

table.cean-scientific-metadata-table {
    width: 100%;
    border-collapse: collapse;

    & th:last-child,
    & td:last-child {
        width: 1%;
        white-space: nowrap;
        border: none;
        padding: 0;
    }

    & td:not(:last-child) {
        border: 1px solid var(--jp-border-color1);

        &:hover {
            box-shadow: inset 0 0 0 var(--jp-border-width) var(--jp-input-active-border-color);
        }

        &:focus-within {
            background: var(--jp-input-active-background);
            /* use box-shadow instead of border to apply to all 4 edges (because of border-collapse) */
            box-shadow: inset 0 0 0 var(--jp-border-width) var(--jp-input-active-border-color);
        }
    }

    & input {
        width: 100%;
        border: none !important;
        background: unset !important;

        &:focus-visible {
            outline: none;
        }
    }

    & button {
        margin: 0 0 0 1rem;
    }
}

label.cean-required {
    &::after {
        content: " *";
        color: var(--jp-error-color2);
    }
}

.cean-person-widget {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;

    /* remove default styling of fieldset */
    border: none;
    margin: 0;
    padding: 0;
}

.cean-same-as-container {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    column-gap: 5px;
    align-items: start;
}

.cean-ds textarea {
    resize: vertical;
}

.cean-datetime-input {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 0;
    row-gap: 10px;
    align-items: start;
}

.cean-tab-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--jp-border-color1);
}

.cean-tab-buttons-left {
    padding: 0 1em 0 1em;

    & svg {
        height: 1.8rem;
        width: auto;
        transform: translateY(0.4em);
    }
}

.cean-tab-buttons-middle {
    display: flex;
    position: relative;
}

.cean-tab-buttons-right {
    display: flex;
    align-items: center;
    padding-right: 16px;
    margin-left: auto;

    & a {
        margin-right: 1em;
    }

    & a:hover {
        text-decoration: underline;
    }
}

.cean-tab-button {
    background: none;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    color: var(--jp-ui-font-color2);
}

.cean-tab-button:hover {
    background-color: var(--jp-layout-color2);
}

.cean-tab-button-active {
    color: var(--jp-ui-font-color1);
    background-color: var(--jp-layout-color1);
    font-weight: bold;
    border-bottom: 2px solid var(--jp-brand-color1);
}

.cean-tab-content {
    /* use a grid to place all panes in the same location */
    display: grid;
}

.cean-tab-pane {
    grid-column: 1;
    grid-row: 1;
    padding: 10px 0;
    /* control with `visibility`, *not* `display` so all panes use the same amount of space */
    visibility: hidden;
}

.cean-input {
    background: var(--jp-cell-editor-background);
    color: var(--jp-content-font-color1);

    &::selection {
        background-color: var(--jp-editor-selected-focused-background);
    }
}

input.cean-input,
select.cean-input,
textarea.cean-input {
    width: 100%;
    box-sizing: border-box;
    border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);

    &:focus-visible {
        outline: none;
    }

    &:focus {
        border-color: var(--jp-input-active-border-color);
        background-color: var(--jp-input-active-background);
    }

    &:hover:not(:disabled) {
        border-color: var(--jp-input-active-border-color);
    }
}

input[type="checkbox"].cean-input {
    width: auto;
    justify-self: start;
}

.cean-input-status {
    /* default: hide the status element */
    display: none;
    font-size: var(--jp-ui-font-size0);
    min-height: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cean-input[data-valid="false"] {
    border-color: var(--jp-error-color2);

    & ~ .cean-input-status {
        display: block; /* show status on error */
        color: var(--jp-error-color2);
    }
}

.cean-file-input + .cean-input-status {
    display: block;
}

.cean-input-panel {
    background: rgba(from var(--jp-layout-color0) r g b / 0.7);

    border: 1px solid var(--jp-border-color2);
    border-radius: 6px;
    padding: 6px;
    margin: 0.25em 0.5em 0.25em 0.5em;
}

.cean-upload-button {
    background: #27aae1;
    color: var(--jp-ui-inverse-font-color1);

    &:hover {
        background: #3ec2fa;
        box-shadow: none !important;
    }
}

.cean-modal-dialog {
    border: 1px solid var(--jp-border-color1);
    border-radius: var(--jp-border-radius);
    box-shadow: var(--jp-elevation-z8);
    background: var(--jp-layout-color1);
    color: var(--jp-ui-font-color1);
    padding: 0;
    min-width: calc(min(30%, 30em));
    max-width: 50%;
    width: max-content;

    & > div {
        padding: 1em 2em;
    }

    &::backdrop {
        backdrop-filter: brightness(80%);
    }

    & a {
        color: var(--jp-content-link-color);
    }

    & a:hover {
        color: var(--jp-content-link-color);
        text-decoration: underline;
    }
}


.cean-dialog-header {
    margin-bottom: 15px;
    font-size: var(--jp-ui-font-size3);
    font-weight: 400;
    color: var(--jp-ui-font-color1);
}

.cean-dialog-body {
    margin-bottom: 20px;
}

.cean-dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cean-warning {
    color: var(--jp-warn-color1);
}

.cean-warning-severe {
    background: var(--jp-warn-color2);
    color: var(--jp-ui-inverse-font-color0);
    padding: 0.3em 0;
    font-variant: all-small-caps;
    font-size: var(--jp-ui-font-size2);
}

.cean-button {
    background: var(--jp-input-background);
    color: var(--jp-ui-font-color1);
    border-radius: var(--jp-border-radius);
    border: none;
    cursor: pointer;

    &:hover {
        background: var(--jp-input-hover-background);
        color: var(--jp-ui-font-color0);
    }

    &[disabled="true"] {
        background: var(--jp-input-background);
        color: var(--jp-ui-font-color2);
        cursor: unset;
    }

    &:active {
        box-shadow: 0 0 0 1px var(--jp-input-active-border-color);
    }
}

.cean-icon-button {
    &:active {
        box-shadow: none;
        background: var(--jp-input-active-background);
    }
}

.cean-button i + span {
    /* Margin for buttons with icon and text */
    margin-left: 0.5em;
}

button.cean-button-remove {
    background: none;

    &:hover {
        color: var(--jp-error-color1);
        background: none;
    }

    &[disabled="true"] {
        visibility: hidden;
    }

    &:active {
        color: var(--jp-error-color2);
    }
}


.cean-combox-dropdown {
    position: relative;
}

.cean-combox-search,
.cean-combox-display {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
    color: var(--jp-content-font-color1);
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    min-height: 1.5rem;

    &:focus-visible {
        outline: none;
    }

    &:focus {
        border-color: var(--jp-input-active-border-color);
    }
}

.cean-combox-display {
    cursor: text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cean-combox-arrow {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
    color: var(--jp-ui-font-color2);
    font-size: 0.8rem;
}

.cean-combox-list {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    border: var(--jp-border-width) solid var(--jp-input-border-color);
    border-top: none;
    background-color: var(--jp-notebook-select-background);

    max-height: 16rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cean-combox-item {
    cursor: pointer;
    user-select: none;
    padding: 0.1em 0.5em;

    &:hover {
        background-color: var(--jp-editor-selected-background);
    }

    & span {
        padding-right: 0.5em;
    }
}

.cean-combox-selected {
    background-color: var(--jp-layout-color2);
    font-weight: bold;
}

.cean-item-id {
    color: var(--jp-content-font-color3);
    font-family: monospace;
}

.cean-file-input {
    display: grid;
    grid-template-columns: 1fr max-content;

    & button {
        margin-left: 1em;
    }
}

.cean-browse-files-button {
    background: var(--jp-layout-color3);

    &:hover {
        background: var(--jp-layout-color4);
    }
}

.cean-files-widget {
    & input {
        width: 100%;
        box-sizing: border-box;
    }

    & .cean-input-panel {
        margin-top: 0.5em;
    }
}

.cean-files-summary {
    margin: 0 0.5em;
    padding: 6px;
    font-size: 0.85rem;

    & span {
        margin-right: 0.5em;
    }

    & span:nth-child(2) {
        margin-right: 2em;
    }
}

.cean-single-file-widget {
    grid-template-columns: max-content 1fr max-content;
    margin: 1em 0.5em 0.5em 0.5em;
}

.cean-single-file-widget, .cean-single-relationship-widget, .cean-single-owner {
    background: rgb(from var(--jp-layout-color2) r g b / 0.8);
    border: 1px solid var(--jp-border-color2);
    padding: 0.5em;
}

.cean-single-relationship-widget {
    grid-template-columns: max-content 1fr max-content;
    margin: 0.3em 0;
}

.cean-relationships {
    grid-column: span 2;
}

/* TODO use throughout */
.cean-input-grid {
    display: grid;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;
}

select.cean-chk-alg {
    /* this dropdown looks strange when it is the full width of the parent */
    width: 10em !important;
}

.cean-string-list-widget {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cean-string-list-input-row {
    display: grid;
    column-gap: 8px;
    grid-template-columns:
        1fr max-content;
}

.cean-string-list-items {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.cean-string-list-item {
    display: flex;
    align-items: center;
    background: var(--jp-layout-color2);
    padding: 2px 8px;
    gap: 4px;
    border: var(--jp-border-width) solid var(--jp-layout-color3);
    border-radius: var(--jp-border-radius);
}

.cean-string-list-item span {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cean-string-list-item .cean-button {
    padding: 0;
    background: none;
    min-height: unset;
    font-size: 0.8em;
}

.cean-techniques-widget {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cean-techniques-items {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cean-techniques-item {
    display: flex;
    background: var(--jp-layout-color2);
    padding: 2px 8px;
    border: var(--jp-border-width) solid var(--jp-layout-color3);
    border-radius: var(--jp-border-radius);
}

.cean-techniques-item-content {
    flex-grow: 1;
}

.cean-techniques-item .cean-button {
    padding: 0;
    background: none;
    min-height: unset;
    font-size: 0.8em;
}

.cean-techniques-selected-item {
    display: flex;
    flex-direction: column;

    & .cean-item-id {
        color: var(--jp-content-link-color);
        font-family: unset;
    }

    & .cean-item-id:hover {
        color: var(--jp-content-link-color);
        text-decoration: underline;
    }
}

.cean-output-anchor {
    display: none;
}

.cean-validation-error-list {
    & strong {
        color: var(--jp-error-color2);
        margin-right: 0.5em;
    }
}

.cean-attachments-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 16px;
    padding: 16px;
}

.cean-single-attachment-widget {
    border: 1px solid var(--jp-border-color1);
    background-color: var(--jp-layout-color2);
    border-radius: 4px;
    padding: 0.4em;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    overflow: hidden;

    & .cean-button-remove {
        position: absolute;
        top: 2px;
        right: 4px;
    }

    & label {
        font-size: 0.85em;
    }

    & .cean-attachment-image-container {
        aspect-ratio: 1 / 1;
        border: 1px dashed var(--jp-border-color2);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 0;
        background-color: var(--jp-layout-color1);
        font-size: var(--jp-ui-font-size3);

        & img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    & .cean-attachment-image-container.cean-error {
        color: var(--jp-error-color1);
    }
}

.cean-spinner {
    width: 48px;
    height: 48px;
    border: 2px solid var(--jp-ui-font-color0);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;

    &::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 4px solid transparent;
        border-bottom-color: #ed6c6b;
        animation: cean-rotation 1.5s linear infinite;
    }

    &::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: -6px;
        top: -6px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 4px solid transparent;
        border-bottom-color: #58caed;
        animation: cean-rotation 2.0s linear infinite;
    }
}

@keyframes cean-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
