.cean-dropdown {
    position: relative;
}

.cean-dropdown-search {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
    color: var(--jp-content-font-color1);
    background-color: var(--jp-cell-editor-background);
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;

    &:focus-visible {
        outline: none;
    }

    &::selection {
        background-color: var(--jp-editor-selected-focused-background);
    }
}

.cean-dropdown-list {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    border: var(--jp-border-width) solid var(--jp-input-border-color);
    border-top: none;
    background-color: var(--jp-notebook-select-background);
    padding: 0 0.5rem 0 0.5rem;

    max-height: 16rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cean-dropdown-item {
    cursor: pointer;
    user-select: none;
    padding: 0.1rem;

    &:hover {
        background-color: var(--jp-editor-selected-background);
    }
}
