.cean-dropdown {
    position: relative;
    z-index: 100;
}

.cean-dropdown-search {
    display: block;
    /*font-family: inherit;*/
    /*font-size: 1rem;*/
    /*font-weight: 400;*/
    /*line-height: 1.5;*/
    width: 80%;
    box-sizing: border-box;
    /*height: auto;*/
    /*padding: 0.65rem 1.25rem;*/
    border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
    color: var(--jp-content-font-color1);
    /*background-clip: padding-box;*/
    background-color: var(--jp-cell-editor-background);
}

.cean-dropdown-list {
    position: absolute;
    /*display: none;*/
    top: 100%;
    left: 0;
    width: 80%;
    z-index: 100;
    /*border-radius: 0.25rem;*/
    background-color: white;
    border: 1px solid black;
    /*transition: all 0.3s ease-in-out;*/

    max-height: 16rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cean-dropdown-menu-item {
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    cursor: pointer;
    user-select: none;
    padding: 0.65rem 1.25rem;
    background-color: white;
    transition: all 0.2s ease-in-out;

    /*& .is-select, & .is-select:hover {*/
    /*    color: white;*/
    /*    background-color: blue;*/
    /*}*/

    /*&:hover {*/
    /*    color: black;*/
    /*    background-color: gray;*/
    /*}*/
}
