.tabs nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--jp-border-color1);

    .logo-scicat {
        padding: 0 1em 0 1em;

        & svg {
            height: 1.8rem;
            width: auto;
            transform: translateY(0.4em);
        }
    }

    [role="tablist"] {
        display: flex;
        position: relative;
    }

    .widget-controls {
        display: flex;
        align-items: center;
        padding-right: 16px;
        margin-left: auto;

        & a {
            margin-right: 1em;
        }

        & a:hover {
            text-decoration: underline;
        }
    }
}

button[role="tab"] {
    background: none;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    color: var(--jp-ui-font-color2);

    &:hover {
        background-color: var(--jp-layout-color2);
    }

    &[aria-selected="true"] {
        color: var(--jp-ui-font-color1);
        background-color: var(--jp-layout-color1);
        font-weight: bold;
        border-bottom: 2px solid var(--jp-brand-color1);

    }
}

.tab-content {
    /* use a grid to place all panes in the same location */
    display: grid;

    [role="tabpanel"] {
        grid-column: 1;
        grid-row: 1;
        padding: 10px 0;

        &.hidden {
            /* control with `visibility`, *not* `display` so all panes use the same amount of space */
            visibility: hidden;
        }
    }
}

button[type="submit"] {
    background: #27aae1;
    color: var(--jp-ui-inverse-font-color1);

    padding: 0 10px;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    font-size: var(--jp-widgets-font-size);
    line-height: var(--jp-widgets-inline-height);
    box-shadow: none;
    border-color: var(--jp-border-color2);
    border-radius: var(--jp-border-radius);
    border: none;
    user-select: none;
    cursor: pointer;

    &:hover {
        background: #3ec2fa;
    }

    &:active {
        /* from the jupyter style */
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, var(--md-shadow-key-penumbra-opacity)),
        0 1px 10px 0 rgba(0, 0, 0, var(--md-shadow-ambient-shadow-opacity)),
        0 2px 4px -1px rgba(0, 0, 0, var(--md-shadow-key-umbra-opacity));
        color: var(--jp-ui-inverse-font-color0);
    }
}

label:has(+ div input:required)::after {
    content: " *";
    color: var(--jp-error-color2);
}

.input-grid {
    display: grid;
    column-gap: 12px;
    row-gap: 10px;
    align-items: start;
    /* This can be overridden in specialised grids */
    grid-template-columns:
        max-content 1fr
        max-content 1fr;

    .grid-span-3 {
        grid-column: span 3;
    }
}
